{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <section class="mx-8 mt-16 min-h-[calc(100vh-16rem)] flex items-center">
        {%  include("includes/_carousel.html.twig") %}
    </section>
{% endblock %}
