{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}

{% if not app.user %}
    <a href="{{ path("app_login") }}">Connexion</a>
{% else %}
    <a href="{{ path("app_logout") }}">Déconnexion</a>
{% endif %}

{% endblock %}
