
.slider {
    @apply max-w-96 m-auto h-full text-center w-full text-chamois-800 relative;

    img {
        @apply rounded-3xl w-full;
    }
}

.slide {
    @apply hidden;
    transition: opacity 1s;

    &.active {
        display: block;
        opacity: 1;
    }

    &-dot {
        @apply h-4 w-4 rounded-full bg-chamois-700 border-none cursor-pointer transition duration-300;
    }

    &-dot.active {
        @apply bg-chamois-900;
    }

    &-nav {
        @apply flex justify-center space-x-2 mt-2;
    }
}

.description {
    margin-top: 10px;
}